@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* Header styles */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  box-shadow: 0 1px 14px -5px #f9e0a5;
  width: 100%;
  z-index: 1000;
  background-color: #ff7e26;
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: #000;
  color: #fff;
  /*background: linear-gradient(45deg, #fffffb, #d9fdbf, #afdef9); /*skyblue and green theme*/
  /*background-size: 200% 200%;
  animation: gradientAnimation 14s ease infinite;*/
}
/*
@keyframes gradientAnimation {
  0% {
    background-position: 0% 25%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}*/

/*
.image-container {
  width: 200px;
  height: 100px;
  background-image: url("./assets/images/logo9.png"); /* Set initial background image */
/*animation: changeImage 6s infinite; 
  background-size: cover; 
}

@keyframes changeImage {
  0% {
    background-image: url("./assets/images/logo1.png"); 
  }
  33% {
    background-image: url("./assets/images/logo2.png"); 
  66% {
    background-image: url("./assets/images/logo3.png"); 
  }
  100% {
    background-image: url("./assets/images/logo9.png"); 
  }
}*/

h2 {
  margin-left: 4rem;
}

#site-name a {
  font: bolder;
}

#site-name-for-mobile {
  display: none;
}

#site-name a,
#site-name-for-mobile a {
  text-decoration: none;
  /*color: #000;*/
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  margin-right: 2rem;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ffffff;
}

#navbar-elements {
  color: #555;
  font-size: 13px;
}

/* Education styles */
ul {
  margin: 0px;
  padding: 0;
  list-style: none;
}

.downloadbtn,
.contact-button {
  width: 170px;
  height: 42px;
  font-size: 20px;
  font-weight: 600;
  margin: 25px 0 30px 0;
}
.downloadbtn {
    background-color: #fff;
}
.downloadbtn a,
#contactme a {
  text-decoration: none;
  color: #000000;
}
.downloadbtn:hover {
  background-color: #ff7e26;
}
.downloadbtn a:hover,
#contactme a:hover {
  color: #fff;
}

#contactme {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

#contactme button {
 /* background-color: #000;*/
  background-color: #fff;
  padding: 15px;
  /*color: #fff;*/
  color: #000;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#contactme button:hover {
  background-color: #ff7e26;
}

#contactme button:active {
  background-color: #333;
}

#contactme button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}

#contactme button::before {
  content: "\f0e0";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

/* CSS Animation Styles */

@keyframes scaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/*********** Applying Animation to Elements **********/
.about {
  animation: scaleIn 2s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*align-items: center;
  gap:200px;*/
  margin-top: 90px;

}

#name {
  font-size: 50px;
  color:#ff7e26;
  letter-spacing: 12px;
  /*transition: color 0.4s ease;
  animation: colorChange 10s infinite;*/
}

#exclamation {
  animation: blink 2s infinite;
  /*font-size: 50px;*/
  font-size: 30px;
  color: #ff7e26;
}

/************* Styles for about page ***************/

#about-text,
#about-text-cont {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

#about-text-portion {
  margin-top: 55px;
  text-align: center;
}

#about-text-portion h3 {
  margin-top: 55px;
  /*transition: color 0.4s ease;
  animation: colorChange 10s infinite;*/
}

#about-text-portion h1 {
  font-size: 35px;
}

/* Styles for social media icon */
.social-icons {
  align-items: center;
}

.social-icons a {
  margin-right: 1rem;
  font-size: 2rem;
}

.social-icons i {
  font-size: 24px;
 /* color: #000;*/
 color: #fff;
  /*transition: color 0.4s ease;
  animation: colorChange 10s infinite;*/
  margin-bottom: 80px;
}
.social-icons i:hover {
 color: #ff7e26;
}

/* Horizontal line */
#line,
.line {
  width: 500px;
  border: none;
  border-top: 2px solid #333;
  display: block;
}

#line {
  margin: 50px auto;
}

/************ Styles for qualification **************/
#qualification_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
  align-items: center;
}

#qualification_container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#qualification_container li {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 10px;
  padding: 10px;
  margin-bottom: 40px;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

#qualification_container li:last-child {
  margin-bottom: 0;
}

#qualification_container li p {
  margin: 0;
}

#qualification_container li:nth-child(1) p:nth-child(1) {
  grid-row: 1 / span 1;
}

#qualification_container li:nth-child(1) p:nth-child(2) {
  grid-row: 2 / span 1;
  margin-right: 101px;
}

#qualification_container li p:nth-child(2) {
  grid-row: 2 / span 2;
}

#qualification_container li p:nth-child(3) {
  grid-column: 2 / span 2;
}

#qualification_container li p:nth-child(4) {
  grid-column: 2 / span 2;
}

#qualification_container li p:nth-child(5) {
  grid-column: 2 / span 2;
}

/*********************** Styles for Skills ***************************/
#skill_container {
  display: grid;
  justify-items: center;
}

#skill_container ul {
  list-style: none;
  /* margin: 2rem;*/
  padding: 0;
  display: grid;
  gap: 20px;
}

#skill_container ul {
  grid-template-columns: repeat(7, 1fr);
}

#skill_container li {
  display: inline-block;
  /*box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);*/
  /*Add box shadow */
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  padding: 0.5rem;
  margin: 1rem;
  text-align: center;
  position: relative;
}

#skill_container li img {
  display: block;
  margin-bottom: 1rem;
  width: 60px;
  height: 60px;
}

/****************** Styles for Projects *******************/
#project_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}

#projects {
  margin-top: 70px;
}

h3 {
  font-size: 25px;
}

.project_item {
  display: flex;
  align-items: center;
  margin: 5px;
}

.project_code {
  margin-bottom: 90px;
}

.project_image img {
  margin: 10px 100px 60px 200px;
  /*border: 2px solid black ;*/
  border: none;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
  width: 440px;
  /*height: 350px;*/
}

.project_image :hover,
#skill_container li img:hover {
  transform: scale(1.1);
  /* Increase size by 10% */
}

.project_details {
  flex: 1;
}
/*
.project_details h3 a {
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  /*color: #fff;
  color: linear-gradient(90deg, #f9e0a5, #ffffff, #f9e0a5);/*orange white  orange
  margin: 0;
}
*/
.project_details h3 a {
  position: relative;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  margin: 0;
  display: inline-block;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 30px;
}

.project_details h3 a::before {
  content: attr(data-text); /* Use the data-text attribute to store the original text */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #ff7e26, #ffffff, #ff7e26);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.project_details a {
  font-weight: 700;
  /*color: #000;*/
  color: #fff;
  text-decoration: none;
}

.project_details p {
  font-weight: 400;
  margin: 30px 120px 30px 0px;
}

.project_skills ul {
  display: flex;
  flex-direction: row;
}

.project_skills li {
  position: relative;
  list-style: none;
  /*margin-right: 10px;*/
  cursor: pointer;
}

.project_skills li img {
  width: 40px;
  height: 40px;
  transition: opacity 0.3s ease;
  margin: 0 10px 10px 0;
}

.project_skills li span {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  width: 60px;
  padding: 5px;
  /*background-color: rgba(0, 0, 0, 0.9);
  color: #fff;*/
  color: #000;
  background-color: #fff;
  font-size: 14px;
  text-align: center;
}

.project_skills li:hover img {
  opacity: 0.7;
  /* Adjust the opacity as per your preference */
}

.project_skills li:hover span {
  display: block;
}


/********************** Styles for footer *******************/
footer {
  margin: 2rem 0;
  text-align: center;
}

footer p {
  margin-bottom: 0;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}

/* Style for the desktop navigation menu */
.desktop-menu {
  display: flex;
  justify-content: flex-start;
}

.desktop-menu li {
  margin-left: 4rem;
}

.desktop-menu a {
  text-decoration: none;
  font-size: 16px;
}

/* Style for the mobile menu toggle button */
.mobile-menu-toggle {
  display: none;
}

/* Show the mobile menu when the mobile menu toggle button is clicked */
.mobile-menu-toggle:checked+.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#experience_container {
  text-align: center;
}

#experience_container li h3,
#experience_container li h4,
#experience_container li p {
  margin: 0;
}


#experience_container li {
  position: relative;
  font-family: 'Lato', sans-serif;
  margin: 60px 0px;
  padding: 0;
 /* height: auto;*/
  left: 30%;
  width: 40%;
  font-size: 12px;
}

#experience_container li::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  border: 3px solid transparent;
  animation: borderAnimation 4s infinite;
}

@keyframes borderAnimation {
  0% {
    border-image: linear-gradient(45deg, #ff7e26, white) 1;
  }

  50% {
    border-image: linear-gradient(45deg, white, #000000) 1;

  }

  100% {
    border-image: linear-gradient(45deg, #000000, #ff7e26) 1;
  }
}

#blogs {
  margin-top: 50px;
}

.blog-container {
  max-width: 500px;
  margin: 60px auto;
}

.blog-container li {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  font-family: 'Lato', sans-serif;
}

.blog-container li h2 {
  margin: 0;
  padding: 10px;
}

.blog-container li p {
  display: none;
  margin: 0;
  padding: 10px;
}

.blog-container li.active p {
  display: block;
}


/*********** Style for screen size upto 1050*************/
@media (max-width: 1050px) {

  /* Projects styles */
  .project_details a,
  .project_details p {
    display: block;
  }

  .project_details a {
    font-weight: 700;
    color: #000;
    text-decoration: none;
  }

  .project_details p {
    margin: 30px 60px 30px 0px;
  }

  .project_details {
    padding: 20px;
  }

  .project_item {
    border: none;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
    /*Add box shadow */
    width: 350px;
    margin: 0 30px 30px 0;
    display: block;
    font-size: 13px;
  }

  .project_image img {
    /*margin: 10px 100px 60px 200px;
  border: 2px solid black ;*/
    width: 350px;
    height: 300px;
    margin: 0;
  }

  .project_details p {
    margin: 0 0 15px 0;
  }

  .project_details:last-child {
    margin-bottom: 0px;
  }
}

/*********** Style for screen size upto 900*************/
@media screen and (max-width: 900px) {
  .about {
    margin: 50px auto 0 auto;
    text-align: center;
  }

  .social-icons {
    display: block;
  }

  #about-text,
  #about-text-cont {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
  }
  #skill_container {
    margin-bottom:20px;
  }

  #skill_container ul {
    grid-template-columns: repeat(7, 1fr);
  }

  #skill_container li {
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    font-size: 12px;
  }

  #skill_container li img {
    width: 40px;
    height: 40px;
  }

  /* Style for the mobile navigation menu */
  .mobile-menu {
    position: absolute;
    top: 80%;
    left: 70%;
    background-color: #000000;
    z-index: 1;
    padding:6px;
  }

  .mobile-menu ul {
    list-style: none;
    display: block;
    width: auto;
  }

  .mobile-menu li {
    margin: 0;
    padding: 5px 0;
    text-align: center;
  }

  .mobile-menu a {
    color: #eceed5;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
  }

  /* Hide the desktop navigation menu on smaller screens */
  .desktop-menu {
    display: none;
  }

  /* Show the mobile menu toggle button on smaller screens */
  .mobile-menu-toggle {
    display: block;
    color: #000;
    border: none;
    position: absolute;
    left: 70%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    /*margin: 10px 0;*/
  }

  .mobile-menu-toggle img{
    margin-left: 50px;
  }

  h2 {
    margin-left: 2rem;
  }

  #qualification_container li {
    font-size: 15px;
  }
  #experience_container li h3 {
    font-size: 16px;
  }
  
  .blog-container h2 {
    font-size: 16px;
  }
  
  .blog-container p {
    font-size: 12px;
  }
}

/*********** Style for screen size upto 530*************/
@media (max-width: 530px) {
  #site-name a {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.3em;
  }

  #header {
    width: 100%;
  }

  #name {
    color: black;
    font-size: 30px;
    letter-spacing: 1px;
  }
 #about-text-portion h1 {
    font-size: 20px;
}
  #profileimg img {
    width: 200px;
    height: 200px;
  }

  .mobile-menu-toggle {
    color: #eceed5;
  }

  .mobile-menu-toggle img{
    margin-bottom: 26px;
  }

  body {
    background-color: #eceed5;
    margin: 0;
  }

  .about {
    margin: 0;
  }

  #about-text-portion {
    margin-top: 100px;
  }

  img {
    margin-left: 0;
    margin-top: 30px;
  }

  .about p,
  #site-name {
    display: none;
  }

  #site-name-for-mobile,
  #site-name-for-mobile a {
    display: block;
    color: #000;
  }

  nav ul li:not(:last-child) {
    margin-right: 0.5rem;
  }

  nav ul li {
    margin: 5px;
    font-size: 12px;
    padding: 5px;
  }

  .downloadbtn {
    width: 120px;
    height: 32px;
  }

  .social-icons {
    position: relative;
    top: -20px;
    left: 10px;
    display: block;
  }

  #profileimg {
    position: relative;
    top: -70px;
  }

  #line, .line {
    width: 250px;
    margin: 0px auto 30px auto;
    border-top: 1px solid #333;
  }

  #qualification_container ul {
    /*margin-left: 3rem;*/
    padding: 0;
    display: block;
  }

  #qualification_container li {
    border: none;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
    /*Add box shadow */
    width: 300px;
    margin: 0 0 30px 80px;
    display: block;
    font-size: 15px;
    font-family: 'Zilla Slab', serif;
  }

  #qualification_container li p:first-child {
    font-weight: bold;
  }

  #skill_container {
    margin: 20px;
  }

  #skill_container ul {
    grid-template-columns: repeat(5, 1fr);
  }
}


/*********** Style for screen size upto 480*************/
@media (max-width: 480px) {
  #qualification_container li {
    margin: 0 0 30px 30px;
  }

  #contactme button {
    background-color: #000;
    padding: 10px;
  }
  .project_item {
    margin: 0 0px 30px 0;
  }
}